.container {
  background-color: #1b97da;
  color: #fff;
  font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  padding: 50px;
}

h2 {
  font-weight: light;
  margin-top: 0;
  margin-bottom: 30px;
}

.row {
  display: flex;
}

.column {
  flex-basis: calc(100% / 3);
  padding: 0 15px;
}

.img-wrapper {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  padding: 35px;
  width: 130px;
  height: 130px;
}

img {
  width: 100%;
}
